/***** Styling for whole page *****/

#main {
	background-image: url("../img/hills.jpg");
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 5%;
	box-sizing: border-box;

}/*main*/